body {
    background-color:#ffffff;
    font-family: Lucida Console, Courier, monospace;
    color: rgb(31, 31, 31);
    font-size:20px;
    background: url(pictures/JG.png);
}

#container {height: 100%; width:100%; font-size: 0;}

#left, #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top;}
#left{
    width: 70%;
    position: relative;
    z-index:0;
}

#right{
    background-color: antiquewhite;
    border:double 3px blue;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    text-align: center;
    width: 20%;
    font-size:15px;



}


.button {
    background-color:  #555555; /* Green */
    border: none;
    color: white;
    width: 250px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: Comic Sans MS, cursive, sans-serif;
  }

  .button1 {
    background-color:  #555555; /* Green */
    border: none;
    color: white;
    width: 20px;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-family: Comic Sans MS, cursive, sans-serif;
  }

  #invitedname{
      color:rgb(42, 105, 0);
  }